@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

h1{font-family: 'Roboto', sans-serif;}
p strong {font-family: 'Roboto', sans-serif;}
h3{ font-size: small; font-family: Verdana, Geneva, Tahoma, sans-serif;}

body {background-color: #136ca788;color: black;}

strong{color: #e00d0d88;}

h1 strong{color: aqua;}
h4 strong{color: #04642488;}
h4{ font-size:small;}

        